.newImgAva {
	width: 100%;
	object-fit: cover;
	height: 150px;	
}
.textFile {
	
}
.file {
	border: 1px solid rgba(127, 127, 127,0.4);
	width: 270px;
	height: 150px;
	 margin-left: 15px!important;
	margin-top: 10px;
	position: relative;
}
.file span {
	width: 100%;
    display: block;
    position: absolute;
    font-size: 18px;
    text-align: center;
    color: #c5c5c5;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.hover {

    border-color: #aaa;
}
