.newImgAva {
	width: 100%;
	object-fit: cover;
	height: 150px;	
}
.file-block {
	width: 270px;
	height: 150px;
	 margin-left: 15px!important;
	margin-top: 10px;
	position: relative;
}

.img-block {
	width: 270px;
	height: 150px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
.file {
	border: 1px solid rgba(127, 127, 127,0.4);
	width: 270px;
	height: 150px;
	position: absolute;
	z-index: 4;
	left: 0;
	right: 0;
	
}
.file-block p {
	width: 100%;  
    position: absolute;
    font-size: 18px;
    text-align: center;
    color: #c5c5c5;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.inf-file {
	display: block;
}
.inf-put {
	display: none;	
}
.hover {
    border-color: #aaa;
}
.changeInfUser {
	display: flex;
}
.changeInfUserInput {
	display: flex;
	flex-direction: column;
}
.changeInfUserInput input{
	margin-top: 9px;
		border-left: 3px solid #6256a9;
}